/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

nav li a{
	text-decoration: none;
	color: black;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	height: 491px;
    max-width: 100%;
    object-fit: cover;
}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}


/* add css */

#Filtres{
	display: flex;
    justify-content: center;
    width: 65%;
    margin-bottom: 50px !important;
    margin: auto;
    flex-direction: row-reverse;
}

#Filtres button{
	color: #1D6154;
}


#Filtres button:hover{
	color: #ffffff;
}

#Filtres.hide{
	display: none;
}

button{
	display: flex;
	width: 50%;
	height: 100px;
	align-items: center;
	justify-content: space-around;
	margin: auto;
	margin: 0px 5px 0px 5px;
}

button{
	font-family: 'Syne';
	display: flex;
    align-items: center;
	height: 5px;
	border: 1px solid #1D6154 !important;
	padding: 15px;
	border-radius: 50px;
	background-color: transparent;
}

button:hover{
	background-color: #1D6154;
}

button p{
	color: #1D6154;
}

button:hover p{
	color: white !important;
}

/* Edit Banner */

#edit_banner{
	width: 100%;
	height: 40px;
	background-color: black;
	padding-top: 2%;
}

#edition_button{
	display: flex;
	margin-right: 15px;
}

#update_edition_link {
	text-decoration: none;
	color: white;
}

#edition_button_link {
	text-decoration: none;
	color: white;
}


#update_edition{
	align-items: center;
    display: flex;
    justify-content: center;
	padding: 10px 10px 10px 10px;
	border-radius: 20px;
	height: 10px;
	width: 200px;
	background-color: white;
	color: black;
}

#edition_button p{
	margin-left: 10px;
}

#banniere_flex{
	display: flex;
	align-items: center;
	justify-content: center;
}


#edit_banner{
	display: none;
}
#edit_banner.available{
	display: block;
}


/* Gallery connected */
#projects_connected{
	margin: auto;
}

#projects_connected h2{
	margin-right: 20px;
}

#projects_connected a{
	display: flex;
	text-decoration: none;
	color: black;
}

#projects_connected i{
	margin-right: 10px;
}

#projects_connected{
	display: none;
}
#projects_connected.available{
	display: block;
}

#portfolio{
	display: block;
}
#portfolio.available{
	display: none;
}

#portfolio h2{
	margin-right: 10px;
}

#portoflio_css{
	display: flex; 
	justify-content: center;
}

/* login / logout */

#login{
	display: block;
}
#login.hide{
	display: none;
}

#logout{
	display: block;
}
#logout.hide{
	display: none;
}
#logout.available{
	display: block;
}

/* Modal CSS */

.popup{
	width: 100px;
	border: 0px solid #35a79200 !important;
	display: flex;
	align-items: center;
	justify-content: center;
}

.popup:hover{
	background-color: rgba(255, 255, 255, 0);
	color:#1D6154;
}

.popup.available{
	display: block !important;
}

.popup.hide{
	display: none ;
}

button:hover p{
	color: #1d6154!important;;
}

.openmodal{
	display: flex;
	align-items: center;
}

.popup_div{
	cursor: pointer;
}

/* Modal CSS */

.titremodal{
	font-size: 26px;
	width: 100%;
}

.closemodal{
	border: white solid 0px !important;
	cursor: pointer;
}

.closemodal:hover {
	background-color: rgba(255, 255, 255, 0);
}

.popup_div{
	cursor: pointer;
}

.popup_div2{
	margin-left: 85px;
	cursor: pointer;
}

#modal {
	outline: 999em solid rgba(0, 0, 0, .4);
    position: fixed;
    margin: auto;
    bottom: 15%;
    top: 15%;
    width: 400px;
    height: auto;
    display: none;
    padding-top: 55px;
    padding-left: 50px;
    padding-right: 50px;
  }

#modal.more_height{
	height: 592px;
}
  
  #modal.show-modal {
	display: block;
    border-radius: 10px;
    border-color: white;
	max-height: 590px;
  }
  
  .buttoncss {
	display: flex;
    left: 460px;
    top: 5px;
    position: absolute;
    width: 60px;
  }
  
  .titrecss {
	margin: auto;
	text-align: center;
	margin-bottom: 30px;
  }
  
  #modalGallery {
	display: flex;
	flex-wrap: wrap;
	margin: auto;
	width: 390px;
	max-height: 381px;
	overflow-y: auto;
  }

  #modalGallery i {
	cursor: pointer;
    position: absolute;
    bottom: 90px;
    left: 47px;
	padding: 3px;
	border-radius: 3px;
	background-color: black;
	color: white;
  }
  
  #modalGallery div {
	position: relative;
	width: calc(26% - 30px);
    margin: 3px;
	margin-bottom: 10px;
  }
  
  #modalGallery img {
    height: 93px;
    max-width: 100%;
    object-fit: contain;
  }
  
  .edit-text {
	font-size: 14px;
	margin-top: 5px;
	color: black;
  }

  .separation{
	border-top: 1px solid #B3B3B3;
    margin: auto;
	margin-bottom: 30px;
    margin-top: 30px;
  }

  #addpicture{
	margin: auto;
	margin-top: 35px;
	background-color: #1D6154 !important;
  }

  #addpicture:hover{
	background-color: white !important;
  }

  #addpicture p{
	color: white ;
  }



  #suppgalerie{
	margin: auto;
	margin-top: 10px;
	width: 137px;
	color: red;
	cursor: pointer;
  }




  #modalGalleryWrapper.showmodal{
	display: block;
  }

  #addWorkModal.showmodal{
	display: block;
  }

  #modalGalleryWrapper.hidemodal{
	display: none;
  }

  #addWorkModal.hidemodal{
	display: none;
  }

  #addWorkModal{
	height: 100%;
	display: none;
  }

  #backCloseAjoutPhoto	{
	display: flex;
  }

  #addWorkModalExitBtn{
	cursor: pointer;
	margin-top: 10px;
	margin-right: 10px;
  }
  

  #ajoutphoto{
	margin-top: 40px;
	margin-bottom: 40px;
	height: 155px;
	width: 100%;
	background-color: #E8F1F6;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: column;

  }

  #iconAjoutPhoto i{
	font-size: 76px;
    margin-top: 15px;
	color: #cbd6dc;
  }

  #validation{
	margin: auto;
	margin-top: 35px;
  }

  #file{
	background-color: #cbd6dc;
	border-radius: 20px;
	width: 173px;
	height: 36px;
	top: 881px;
	left: 633px;
	border-radius: 50px;

  }

  #title{
	margin-top: 10px;
	margin-bottom: 10px;
	width: 98%;
	height: 50px;
  }

  #category{
	margin-top: 10px;
	width: 100%;
	height: 50px;
  }

  #form{
	width: 380px;
  }

  .submit-btn{
	margin: auto;
	border: white !important;
  }

  .submit_css{
	background-color: gray;
  }

  .submit_css p{
	color: white;
  }

  .submit_css:hover p{
	color : white !important;
  }

  .submit_css:hover{
	color : white;
  }

  #file{
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
  }

  #file + label{
		width: 173px;
		height: 36px;
		border-radius: 20px;
		text-align: center;
		color: #1d6154;
		background-color: #cbd6dc;
		display: inline-block;
		line-height: 36px;
	}
	
	#file + label:hover {
		cursor: pointer;
	}

	#categoriesSelect{
		margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: 50px;
	}